<footer id="footer" class="sm-padding bg-dark">

        <!-- Container -->
        <div class="container">

          <!-- Row -->
          <div class="row">

            <div class="col-md-12">

              <!-- footer logo -->
              <div class="footer-logo">
                <a href="#home"><img src="img/logo-alt2.png" alt="logo"></a>
              </div>
              <!-- /footer logo -->

              <!-- footer follow -->
              <ul class="footer-follow">
                <!-- <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus"></i></a></li> -->
                <li><a href="https://www.instagram.com/cappadocia_airways/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://wa.me/+905432701588"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="tel:+05468691846"><i class="fa fa-phone"></i></a></li>
                <li><a href="https://wa.me/+905468691846"><i class="fab fa-whatsapp"></i></a></li>
              </ul>
              <!-- /footer follow -->

              <!-- footer copyright -->
              <div class="footer-copyright">
                <p>Copyright © 2018. All Rights Reserved. Designed <a href="https://github.com/Rheawin" target="_blank">by </a></p>
              </div>
              <!-- /footer copyright -->

            </div>

          </div>
          <!-- /Row -->

        </div>
        <!-- /Container -->

      </footer>
      <!-- /Footer -->
