<head>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must come first in the head; any other head content must come *after* these tags -->
  <title>Cappadocia Hot Air Balloons | Cappadocia Airways </title>
        <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="content-language" content="en-US" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Cappadocia balloon tours best prices here.You should experience fly over the fairy chimneys, mountains, landscapes" />
    <meta name="keywords" content="Cappadocia Balloon, Hot air balloon,balloon flight,Cappadocia Tour" />
    <meta name="author" content="Gorkem Uz" />
    <meta name="owner" content="Cappadocia Airway" />
    <meta name="copyright" content="(c) 2018" />
    <meta name="robots" content="index,follow" />
    
    <meta name="yandex-verification" content="ee90c698f073e26b" />


    <link rel="icon" type="image/png" href="img/ionic-balloon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">



  <!-- Google font -->
  <!-- Bootstrap -->
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" />
  <!-- Owl Carousel -->
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />

  <!-- Magnific Popup -->
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" />


  <!-- Font Awesome Icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!-- Custom stlylesheet -->
  <link type="text/css" rel="stylesheet" href="css/style.css" />
  <meta name="google-site-verification" content="yrlmIDREZfx-T9BMq9xt9FA5Uj6KFI0Cp9FfsBwJbLE" />

</head>