<!-- Service -->
<div id="service" class="section md-padding">

        <!-- Container -->
        <div class="container">

          <!-- Row -->
          <div class="row">

            <!-- Section header -->
            <div class="section-header text-center">
              <h2 class="title">What we offer</h2>
            </div>
            <!-- /Section header -->

            <!-- service -->
            <div class="col-md-4 col-sm-6">
              <div class="service">
                  <i class="fas fa-file-contract"></i>
                <h3>Full Insurance Coverage</h3>
                <p>Full Insurance Coverage For Passenger Starting Picked Up From Your Hotel.</p>
              </div>
            </div>
            <!-- /service -->

            <!-- service -->
            <div class="col-md-4 col-sm-6">
              <div class="service">
                <i class="fa fa-bus"></i>
                <h3>Transportation</h3>
                <p>When time comes, we pick you up and when the flight is over we drop you off to your hotel.</p>
              </div>
            </div>
            <!-- /service -->

            <!-- service -->
            <div class="col-md-4 col-sm-6">
              <div class="service">
                <i class="fa fa-glass-martini"></i>
                <h3>Food and Beverage</h3>
                <p>Before flight breakfast service, and after the flight there is  champagne Party. (Alcohol Free)</p>
              </div>
            </div>
            <!-- /service -->

            <!-- service -->
            <div class="col-md-4 col-sm-6">
              <div class="service">
                <i class="fa fa-certificate"></i>
                <h3>Certificate</h3>
                <p>Flight certificate after balloon landing.</p>
              </div>
            </div>
            <!-- /service -->

            <!-- service -->
            <div class="col-md-4 col-sm-6">
              <div class="service">
                <i class="fab fa-fly "></i>
                <h3>Flight Time</h3>
                <p>About one hour flight time. Minimum 50 minutes.</p>
              </div>
            </div>
            <!-- /service -->

            <!-- service -->
            <div class="col-md-4 col-sm-6">
              <div class="service">
                <i class="fas fa-hand-point-up"></i>
                <h3>Choose Balloon Size</h3>
                <p>Choose the balloon size. There is balloons for 12-16-20 persons.</p>
              </div>
            </div>
            <!-- /service -->

          </div>
          <!-- /Row -->

        </div>
        <!-- /Container -->

      </div>
      <!-- /Service -->
